/* ------------------------------- General ------------------------------- */
.App {
  text-align: center;
  font-family: 'Rubik', sans-serif;
}

/* ------------------------------- Results ------------------------------- */
.resultsPage {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* ------------------------------- Games ------------------------------- */
.gamesDiv {
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 3em;
  align-items: start;
  padding: 3em 10em 3em 10em;
}

.ant-card :hover {
  cursor: auto;
}

.anticon :hover {
  cursor: pointer;
}